<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="refresh" content="5;url=${cp.getContextPath()}/" />
<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">

<title>Modelo de uso da OneSignal</title>
</head>

<body style="padding: 5px;">
  
   <#if tipo == "200">
	     <div class="alert alert-success" role="alert">
	          ${tipo} - Notificação enviada com sucesso.
	     </div> 
   <#else>
   		<div class="alert alert-danger" role="alert">
   			  ${tipo} - Notificação não enviada, tente novamente.	
   		</div> 
   </#if>

	<div>
		<a href="${cp.getContextPath()}/" class="form-control">Voltar</a>
	</div>
</body>
</html>