<meta charset="UTF-8">
<div class="container" style="margin: 5px;">
	<form name="mensagem" action="enviar" method="post">
		<div class="col-md-3">
			<label class="form-label">Titulo</label>
			<p />
			<input type="text" class="form-control" name="titulo" required placeholder="Campo obrigatório." />
		</div>
		<div class="col-md-3">
			<label class="form-label">Subtitulo</label>
			<p />
			<input type="text" class="form-control" name="subtitulo" name="titulo" required placeholder="Campo obrigatório.">
		</div>
		<div class="col-md-3">
			<label class="form-label">Descrição</label>
			<p />
			<textarea rows="3" cols="50" class="form-control" name="descricao" name="titulo" required placeholder="Campo obrigatório."></textarea>
		</div>
		<div>
			<input type="submit" value="Enviar" class="btn btn-primary" />
		</div>
	</form>
</div>